
@import './assets/styles/colors.css';

/* 
    Tailwind Css
------------------------ */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
    Global
------------------------ */
@media (min-width:768px) {
    .container {
        max-width: none;
        width: 95%;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1400px;
    }
}

.btn-1 {
    @apply bg-button-2 py-4 px-12 text-text-1 text-base hover:bg-hoverButton-1
}

