:root {
  --primary-1: #ffffff;
  --primary-2: #363738;

  --text-1: #fafafa;
  --text-2: #7d8184;
  --text-3: #000000;
  --button-card-text: #000000;

  --secondary-1: #f5f5f5;
  --secondary-2: #fefaf1;
  --secondary-3: #db4444;

  --background-1: #ffffff;
  --background-2: #000000;

  --button-1: #00ff66;
  --button-2: #db4444;

  --hover-button-1: #e07575;
  --hover-button-2: #a0bce0;

  --logo-color: #000000;
}
